body{background-color: rgba(26,26,26,255); width: 80%; margin: auto; color: aliceblue; border: 2px solid rgba(26,26,26,255) ;}
main{height: 500px; margin-top: 50px;
    display: flex; flex-direction: column; 
    align-items: center; justify-content: space-around;}

.sel_img {width: 30%;}
#info_div {
    font-size: 4em;
    text-align: center;
}

button{width: 150px;height: 150px;}
#menu{background-color: rgba(26,26,26,255);font-size: 4em; text-align: center;padding: 3%; border: 2px solid rgb(0, 136, 255); border-radius: 10%;}
#img_sel_div{display: flex;flex-flow: row wrap; justify-content: space-around;}